
#TransactionContainerBody{
    width: 100vw;
    height: 80vh;
    text-align: center;
    justify-items: center;
}

#TransactionForm{
    margin-top: 30px;
    display: inline-block;
    width: 1700px;
    height: 600px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5% 8% 3% 7% / 32% 25% 22% 30% ;
    box-shadow: 0 8px 32px 0 rgba(202, 202, 202, 0.37);
    animation: action 8s linear infinite alternate;
}

@keyframes action {
    25%{
        border-radius: 14% 14% 9% 10% / 18% 25% 34% 48% ;
    }
    50%{
        border-radius: 10% 7% 11% 10% / 41% 44% 38% 39% ;
    }
    100%{
        border-radius: 12% 9% 9% 14% / 13% 46% 26% 15% ;
    }

}